*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lettertype: "Open Sans", Arial, sans-serif;

  --lettertype-kleur1: #000000;
  --lettertype-kleur2: #ffffff;

  --hoofdkleur1: #fff021;
  --hoofdkleur2: #000000;
  --hoofdkleur3: #ffffff;

  --subkleur1: #f0ebf0;
  --subkleur2: #faf0d7;
  --subkleur3: #e0f5df;
}

/*******************/
/* ALGEMENE OPMAAK */
/*******************/
h1,
h2,
h3,
h4,
p,
li,
a {
  font-family: var(--lettertype);
}

h1 {
  font-size: 2rem;
}

img {
  width: 2rem;
  height: auto;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main {
  margin-right: 10rem;
}
