*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lettertype: "Open Sans", Arial, sans-serif;

  --lettertype-kleur1: #000000;
  --lettertype-kleur2: #ffffff;

  --hoofdkleur1: #fff021;
  --hoofdkleur2: #000000;
  --hoofdkleur3: #ffffff;

  --subkleur1: #f0ebf0;
  --subkleur2: #faf0d7;
  --subkleur3: #e0f5df;
}

/*******************/
/* ALGEMENE OPMAAK */
/*******************/
main {
  margin-right: calc(10rem + 2vw);
  margin-left: 2vw;
}

h1,
h2,
h3,
h4,
p,
li,
a {
  font-family: var(--lettertype);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 5.63rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  max-width: 60vw;
  margin-bottom: 1rem;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*******/
/* NAV */
/*******/
nav {
  padding: 0;
  float: right;
  position: fixed;
  right: 0;
  height: 100vh;
  background-color: var(--hoofdkleur1);
  top: 0;
  margin-left: 2rem;
}

nav > ol {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  max-width: 10rem;
}

nav > ol > li {
  display: flex;
  text-align: center;
  height: auto;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Lijn tussen menu items */
nav > ol > li::after {
  content: "";
  width: 3rem;
  border-bottom: var(--hoofdkleur2) 1px solid;
}

nav > ol > li:last-of-type::after {
  border-bottom: none;
}

nav > ol > li:hover {
  background-color: var(--hoofdkleur2);
  color: var(--lettertype-kleur2);
}

/* Toon subkopjes bij hoveren */
nav > ol > li:nth-of-type(3):hover .menuItems1 {
  display: block;
}

nav > ol > li:nth-of-type(4):hover .menuItems2 {
  display: block;
}

nav > ol > li:nth-of-type(5):hover .menuItems3 {
  display: block;
}

nav > ol > li:nth-of-type(6):hover .menuItems4 {
  display: block;
}

nav ol li a {
  text-decoration: none;
  color: inherit;
}

nav > ol > li > ol {
  display: none;
  position: absolute;
  background-color: var(--hoofdkleur2);
  color: var(--lettertype-kleur2);
  height: fit-content;
  width: 20rem;
  text-align: left;
  padding: 1rem;
}

/* Positie van de uitgeklapte subkopjes */
nav > ol > li:nth-of-type(3) > ol {
  top: 26.2vh;
  right: 10rem;
}

nav > ol > li:nth-of-type(4) > ol {
  top: 42.1vh;
  right: 10rem;
}

nav > ol > li:nth-of-type(5) > ol {
  top: 58vh;
  right: 10rem;
}

nav > ol > li:nth-of-type(6) > ol {
  top: 71.1vh;
  right: 10rem;
}

nav > ol > li > ol > li {
  padding: 0.4rem;
}

nav > ol > li > ol > li:hover {
  color: var(--hoofdkleur1);
}

/***********/
/* 2.1 - ba*/
/***********/
article:nth-of-type(4) > article:first-of-type > section {
  display: flex;
}

article:nth-of-type(4) > article:first-of-type > section:first-of-type {
  margin-bottom: 2rem;
}

article:nth-of-type(4)
  > article:first-of-type
  > section:first-of-type
  > aside
  > img {
  width: 22rem;
}

article:nth-of-type(4) > article:first-of-type > section:nth-of-type(2) > p {
  max-width: 35vw;
}

article:nth-of-type(4) > article:first-of-type > section:nth-of-type(2) > ol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1.5rem;
  margin-left: 5rem;
}

article:nth-of-type(4)
  > article:first-of-type
  > section:nth-of-type(2)
  > ol
  > li {
  display: flex;
  align-items: flex-start;
}

article:nth-of-type(4)
  > article:first-of-type
  > section:nth-of-type(2)
  > ol
  > li:first-of-type {
  grid-area: 1 / 1 / 2 / 2;
}

article:nth-of-type(4)
  > article:first-of-type
  > section:nth-of-type(2)
  > ol
  > li:nth-of-type(2) {
  grid-area: 2 / 1 / 3 / 2;
}

article:nth-of-type(4)
  > article:first-of-type
  > section:nth-of-type(2)
  > ol
  > li:nth-of-type(3) {
  grid-area: 3 / 1 / 4 / 2;
}

article:nth-of-type(4)
  > article:first-of-type
  > section:nth-of-type(2)
  > ol
  > li
  > img {
  width: 3.5rem;
  margin-right: 1rem;
}

/***********/
/* 2.2 - bb*/
/***********/

/***********/
/* 2.3 - bc*/
/***********/
article:nth-of-type(4) > article:nth-of-type(3) {
  display: flex;
  margin: 2em 0em;
}

article:nth-of-type(4) > article:nth-of-type(3) > div > section {
  display: flex;
  justify-content: space-around;
}

article:nth-of-type(4) > article:nth-of-type(3) > div > section > button {
  background-color: var(--hoofdkleur1);

  margin: 1em 0em;
  border-width: 2.5px;
  width: 20%;
  height: 4em;
}

article:nth-of-type(4) > article:nth-of-type(3) > aside > img {
  width: 12em;
}

/***********/
/* 2.4 - bd*/
/***********/
article:nth-of-type(4) > article:nth-of-type(4) > section {
  display: flex;
  margin: 2em 0em;
}

article:nth-of-type(4) > article:nth-of-type(4) > section > aside {
  display: flex;
}

article:nth-of-type(4) > article:nth-of-type(4) > section > aside > img {
  width: 12em;
  margin: 0em 3em;
}

/***********/
/* 2.5 - be*/
/***********/
article:nth-of-type(4) > article:nth-of-type(5) {
  display: flex;
}

article:nth-of-type(4) > article:nth-of-type(5) > aside > img {
  width: 40rem;
}

/***********/
/* 2.6 - bf*/
/***********/
article:nth-of-type(4) > article:nth-of-type(6) {
  display: flex;
}

article:nth-of-type(4) > article:nth-of-type(6) > video {
  width: 35rem;
}

/***********/
/* 2.7 - bg*/
/***********/
article:nth-of-type(4) > article:nth-of-type(7) > section {
  position: relative;
  width: 100%;
}

article:nth-of-type(4) > article:nth-of-type(7) > section > img {
  width: 60%;
  display: block;
  margin: auto;
}

article:nth-of-type(4) > article:nth-of-type(7) > section > div {
  position: absolute;
  left: 23.5rem;
  right: 23.5rem;
  display: inline-block;
  margin: 0 20px 0 20px;
  color: var(--lettertype-kleur2);
  background-color: var(--hoofdkleur2);
  z-index: 1;
  transform: translate(0, -32rem);
}

article:nth-of-type(4) > article:nth-of-type(7) > video {
  width: 50%;
  max-width: 300px;
  margin-right: 7%;
}

/***********/
/* 2.8 - bh*/
/***********/
article:nth-of-type(4) > article:nth-of-type(8) > img:first-of-type {
  width: 35%;
  max-width: 300px;
}

article:nth-of-type(4) > article:nth-of-type(8) > img:nth-of-type(2) {
  width: 45%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 2%;
  border: 1px solid rgb(0, 0, 0);
}

article:nth-of-type(4) > article:nth-of-type(8) > img {
  width: 20%;
  display: flex;
  justify-content: space-around;
}
