/*******/
/* NAV */
/*******/
nav {
  padding: 0;
  float: right;
  position: fixed;
  right: 0;
  height: 100vh;
  background-color: var(--hoofdkleur1);
  top: 0;
  margin-left: 2rem;
}

nav > ol {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  max-width: 10rem;
}

nav > ol > li {
  display: flex;
  text-align: center;
  height: auto;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Lijn tussen menu items */
nav > ol > li::after {
  content: "";
  width: 3rem;
  border-bottom: var(--hoofdkleur2) 1px solid;
}

nav > ol > li:last-of-type::after {
  border-bottom: none;
}

nav > ol > li:hover {
  background-color: var(--hoofdkleur2);
  color: var(--lettertype-kleur2);
}

/* Toon subkopjes bij hoveren */
nav > ol > li:nth-of-type(3):hover .menuItems1 {
  display: block;
}

nav > ol > li:nth-of-type(4):hover .menuItems2 {
  display: block;
}

nav > ol > li:nth-of-type(5):hover .menuItems3 {
  display: block;
}

nav > ol > li:nth-of-type(6):hover .menuItems4 {
  display: block;
}

nav ol li a {
  text-decoration: none;
  color: inherit;
}

nav > ol > li > ol {
  display: none;
  position: absolute;
  background-color: var(--hoofdkleur2);
  color: var(--lettertype-kleur2);
  height: fit-content;
  width: 20rem;
  text-align: left;
  padding: 1rem;
}

/* Positie van de uitgeklapte subkopjes */
nav > ol > li:nth-of-type(3) > ol {
  top: 26.2vh;
  right: 10rem;
}

nav > ol > li:nth-of-type(4) > ol {
  top: 42.1vh;
  right: 10rem;
}

nav > ol > li:nth-of-type(5) > ol {
  top: 58vh;
  right: 10rem;
}

nav > ol > li:nth-of-type(6) > ol {
  top: 71.1vh;
  right: 10rem;
}

nav > ol > li > ol > li {
  padding: 0.4rem;
}

nav > ol > li > ol > li:hover {
  color: var(--hoofdkleur1);
}
